/* CODIGO DEL HEADER */

.header ul {
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
    gap: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.header ul img{
    width: 50px;
    height: 50px;
}

.header img{
    width: 100px;
    height: 50px;
    display: flex;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 10px;
    width: 100%;
}

.Titulo{
    font-size: 25px;
   align-self: center;
   
}