:root {
  --colorFondo: #ffffff;
  --colorPrimario: #172d42;
  --colorSecundario: #224668;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--colorFondo);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorSecundario);
  padding: 15px 60px;
  border-bottom: 3px solid var(--colorPrimario);
}

.header .logo {
  width: 110px;
  height: auto;
}

.iconos-nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
}

.iconos-nav-bar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.2s;
}

.main-section {
  text-align: center;

}

.titulo {
  font-size: 64px;
  color: #000;
  margin-bottom: 60px;
}

.años-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.año-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  background-color: #fff;
  border: 10px solid var(--colorSecundario);
  border-radius: 20px;
  color: #000;
  font-size: 36px;
  font-weight: 900;
}

.año-card:hover {
  background-color: var(--colorSecundario);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colorSecundario);
  color: #fff;
  padding: 15px 60px;           
  border-top: 3px solid var(--colorPrimario);
  font-family: "Inter", sans-serif;
  margin-top: 100px;         
}
.footer-logo img {
  width: 110px;                
  height: auto;
}
.footer-contacto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-contacto h2 {
  margin: 0
}
.footer-contacto a {
  color: #fff;
}
.footer-info {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-info p {
  margin: 0;
}


