/* CODIGO DEL HEADER */
:root {
    --colorFondo: #f3f3f3;
    --colorPrimario: #172d42;
  }
.header ul {
    list-style-type: none;
    padding-right: 50px;
    margin: 0;
    gap: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.header ul img{
    width: 50px;
    height: 50px;
}
.Mas-Oscuro {
    width: 35px;
    height: 35px;
}

.header img{
    width: 100px;
    height: 50px;
    display: flex;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: var(--colorPrimario);
}

.producto1-contenedor {
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    width: 300px;
border-radius: 10%;
margin-top: 30px;
border: 2px solid black;
box-shadow: 0 4px 10px
}

.Descripcion-producto1  {
    font-size: 16px;
    color: #666;
    text-align: center;
    
}
.Precio-producto1 {
    color: white; 
    font-size: 18px; 
    font-weight: bold;
    padding: 15px 30px; 
   background-color:darkturquoise;
   margin-top: 10px;


   border: black;
   border-radius: 50px;
   cursor: pointer; 
   text-align: center;
}
.foto-de-producto1{
 border: black 8px;
box-shadow: 0 2px 5px 
}
.comentario-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}