/* VARIABLES */
:root {
  --colorFondo: #f3f3f3;
  --colorPrimario: #172d42;
}

<<<<<<< HEAD

/* BODY */


=======
/* BODY */

>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
body {
  background-color: var(--colorFondo);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
/* TITULO */
body > .titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
body > .titulo h1 {
  font-weight: 200;
  font-variation-settings: "wght" 200;
  margin-bottom: 2%;
}

<<<<<<< HEAD

/* FORMULARIO */


=======
/* FORMULARIO */

>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
.formulario {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  transform: scale(1.2);
  justify-content: center;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
.formulario label {
  margin-top: 10px;
  font-size: larger;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
.formulario input {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
.botonSubmit{
    margin-top: 10%;
    width: 50%;
    background-color: var(--colorPrimario);
    color: #ccc;
    border-radius: 4px;
    border: none;
    align-self: center;
    padding: 2.5%;
    cursor: pointer;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
.botonSubmit:hover{
    opacity: 80%;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
label[for="Terminos"]{
    text-align: start;
    font-size: small;
    font-weight: 700;
    font-variation-settings: "wght" 200;
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
  margin: -10px;
  padding: 10px;
  width: 100%;
  background-color: var(--colorPrimario);
}

<<<<<<< HEAD

=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
.header img {
  width: 50px;
  height: 50px;
  padding: 10px;
}
<<<<<<< HEAD



=======
>>>>>>> 4dd45c74982e6ba1f1eae722a8a33bdf8643ea7c
