:root {
  --colorFondo: #f3f3f3;
  --colorPrimario: #224668;
  --colorTexto: #000000de;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorFondo);
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 112px;
  background-color: var(--colorPrimario);
  padding-left: 30px;
  border-bottom: 3px solid var(--colorPrimario);
}

.header img {
  height: 80px;
  width: auto;
}

.titulo-principal {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #000;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  width: 531px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario label {
  font-size: 22px;
  font-weight: 400;
  color: var(--colorTexto);
}


#Correo {
  background-color: #d9d9d9;
  border: 1px solid var(--colorTexto);
  border-radius: 6px;
  height: 58px;
  font-size: 18px;
  padding: 0 10px;
}
#Usuario {
  background-color: #d9d9d9;
  border: 1px solid var(--colorTexto);
  border-radius: 6px;
  height: 58px;
  font-size: 18px;
  padding: 0 10px;
}
#Contraseña {
  background-color: #d9d9d9;
  border: 1px solid var(--colorTexto);
  border-radius: 6px;
  height: 58px;
  font-size: 18px;
  padding: 0 10px;
}

.terminos {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.terminos a {
  color: var(--colorPrimario);
  text-decoration: none;
}

.botonSubmit {
  width: 249px;
  height: 60px;
  margin: 30px auto 0 auto;
  border-radius: 40px;
  border: 5px solid var(--colorPrimario);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: var(--colorTexto);
  font-size: 20px;     
  font-weight: 700;      
  cursor: pointer;
}

