/* VARIABLES */
:root {
  --colorFondo: #f3f3f3;
  --colorPrimario: #172d42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f3f3f3;
  color: #1f2b3a;
}

.header {
  width: 100%;
  height: 112px;
  background-color: #224668;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

.logo {
  width: 120px;
  height: 90px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.05);
}

.header1 {
  display: flex;
  align-items: center;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 55px;
}

/* PERFIL */
.perfil-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  max-width: 900px;
  gap: 50px;
}

.perfil-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.perfil-imagen img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

/* Botones de imagen */
#editarImagenLabel,
#quitarImagenBtn {
  background: var(--colorPrimario);
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: none;
}

#btnCerrarSesion {
  background: #e92828ff;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: none;
  border-color: white;
}

#btnCerrarSesion:hover {
  background-color: rgb(167, 39, 39);
}

#editarImagenLabel:hover,
#quitarImagenBtn:hover {
  background: #0f1f30;
}

.perfil-datos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil-datos input,
.perfil-datos textarea,
.perfil-datos button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.perfil-datos button {
  background: var(--colorPrimario);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.perfil-datos button:hover {
  background: #0f1f30;
}
